.wrapper {
  border-top: 1px solid #1618231f;
  margin-top: 8px;
}

.label {
  padding: 0 8px;
  margin-bottom: 8px;
  margin-top: 16px;
  font-size: 1.4rem;
  color: #161823bf;
  font-weight: 600;
}

.account-item {
  display: flex;
  padding: 8px;
  cursor: pointer;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.item-info {
  flex: 1;
  margin-left: 12px;
}

.nickname {
  line-height: 1;
}

.check {
  font-size: 1.4rem;
  color: rgb(32, 213, 236);
  margin-left: 4px;
}

.name {
  font-size: 1.2rem;
  color: #161823bf;
}

.more-btn {
  padding: 8px;
  font-size: 1.4rem;
  font-weight: 700;
  color: rgb(254, 44, 85);
  cursor: pointer;
}
